<footer class="py-5 bg-dark text-dark">
    <div class="container text-center "> <span>Created by Lega. @2024</span>
    </div>

    <div class="d-flex pt-1" >
        <a class="btn btn-outline-dark btn-social" href="https://twitter.com/DenizBaranBoz1"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-dark btn-social" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-dark btn-social" href="https://www.instagram.com/denizbaranboz/"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-outline-dark btn-social" href="https://www.linkedin.com/in/deniz-baran-boz-4a3605252/"><i class="fab fa-linkedin-in"></i></a>
    </div>
</footer>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>