<%- include("partials/_header") %>

   <body class="main-layout inner_page">

      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>

      <%- include("partials/_menu") %>

         <div class="about">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="titlepage text_align_left">
                        <span>Lega</span>
                        <h2>About Us</h2>
                        <p>Merhaba Marmara Üniversitesi Bilgisayar Programcılığı 2.sınıf Öğrencisiyiz. Bitirme prjemize hoş geldiniz!  </p>

                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="about_img">
                        <figure><img src="images/about_img.png" alt="#" /></figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <%- include("partials/_footer") %>