<%- include("partials/_header") %>
<header>
    <div class="text-center pt-5 px-4 border-bottom">
        <h1 class="display-4 fw-bold"> Welcome <%= user.name %> </h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cumque sapiente recusandae ratione beatae deleniti mollitia molestias suscipit eligendi quaerat?
            </p>
            <div class="mb-5 d-grid gap-2 d-md-flex justify-content-md-center">
                <button class="btn btn-dark btn-lg" >
                    <i class="fa-solid fa-caret-right"></i>
                    Button</button>
                <button class="btn btn-outline-secondary btn-lg" >
                    <i class="fa-solid fa-caret-right"></i>
                    Button</button>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
                <div class="container px-5">
                    <img src="/images\bg.png" class="img-fluid border rounded-3 shadow-lg mb-4" width="700" height="500" alt="">
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="bg-dark px-5 py-5 text-center text-dark">
        <div class="py-5">
            <h1 class="display-5 fw-bold">Lorem,ipsum.</h1>

        </div>
    </div>

    <!–cards–>
    <div class="container my-4">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-3 shadow">
                    <img src="/images\1.jpeg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Lorem,ipsum.</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-3 shadow">
                    <img src="/images\1.jpeg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Lorem,ipsum.</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-3 shadow">
                    <img src="/images\1.jpeg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Lorem,ipsum.</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include("partials/footer") %>
</body>
</html>