<%- include("partials/_header") %>

<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <td>Satır 1, Sütun 1</td>
                <td>Satır 1, Sütun 2</td>
                <td>Satır 1, Sütun 3</td>
            </tr>
            <tr>
                <td>Satır 2, Sütun 1</td>
                <td>Satır 2, Sütun 2</td>
                <td>Satır 2, Sütun 3</td>
            </tr>
            <tr>
                <td>Satır 3, Sütun 1</td>
                <td>Satır 3, Sütun 2</td>
                <td>Satır 3, Sütun 3</td>
            </tr>
            <tr>
                <td>Satır 4, Sütun 1</td>
                <td>Satır 4, Sütun 2</td>
                <td>Satır 4, Sütun 3</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <!-- İkinci sütun içeriği -->
    </div>
    <div class="col-md-4">
        <!-- Üçüncü sütun içeriği -->
    </div>
</div>


<%- include("partials/_footer") %>